beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Cython==0.29.14
docutils==0.15.2
html5lib==1.0.1
idna==2.8
Kivy==1.11.1
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.17
kivy-deps.sdl2==0.1.22
Kivy-Garden==0.1.4
kivymd==0.102.1
Pillow==6.2.1
Pygments==2.5.2
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.25.7
webencodings==0.5.1
